<a href="https://colab.research.google.com/github/SunshineSen/notSnake/blob/main/sem9_matherial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sample_data/california_housing_train.csv')

In [ ]:
df

In [ ]:
df.head(10)

In [6]:
df.tail(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16990,-124.22,41.73,28.0,3003.0,699.0,1530.0,653.0,1.7038,78300.0
16991,-124.23,41.75,11.0,3159.0,616.0,1343.0,479.0,2.4805,73200.0
16992,-124.23,40.81,52.0,1112.0,209.0,544.0,172.0,3.3462,50800.0
16993,-124.23,40.54,52.0,2694.0,453.0,1152.0,435.0,3.0806,106700.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [7]:
df.shape

(17000, 9)

In [8]:
df.isnull()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
16995,False,False,False,False,False,False,False,False,False
16996,False,False,False,False,False,False,False,False,False
16997,False,False,False,False,False,False,False,False,False
16998,False,False,False,False,False,False,False,False,False
16999,False,False,False,False,False,False,False,False,False

In [9]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [10]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [11]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [13]:
tb = df['total_bedrooms']

In [15]:
tb.sum()

9169984.0

In [17]:
df[['latitude', 'population']]

       latitude  population
0         34.19      1015.0
1         34.40      1129.0
2         33.69       333.0
3         33.64       515.0
4         33.57       624.0
...         ...         ...
16995     40.58       907.0
16996     40.69      1194.0
16997     41.84      1244.0
16998     41.80      1298.0
16999     40.54       806.0

[17000 rows x 2 columns]

In [18]:
df[df['housing_median_age'] < 20]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
10,-114.60,33.62,16.0,3741.0,801.0,2434.0,824.0,2.6797,86500.0
...,...,...,...,...,...,...,...,...,...
16983,-124.19,41.78,15.0,3140.0,714.0,1645.0,640.0,1.6654,74600.0
16987,-124.21,41.77,17.0,3461.0,722.0,1947.0,647.0,2.5795,68400.0
16991,-124.23,41.75,11.0,3159.0,616.0,1343.0,479.0,2.4805,73200.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0

In [23]:
new = df[(df['housing_median_age'] < 20) & (df['total_rooms'] < 30)]

In [24]:
new

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2907,-117.76,35.22,4.0,18.0,3.0,8.0,6.0,1.625,275000.0
2990,-117.79,35.21,4.0,2.0,2.0,6.0,2.0,2.375,137500.0
3275,-117.86,33.67,16.0,20.0,5.0,15.0,5.0,3.875,450000.0
8232,-118.44,34.04,16.0,18.0,6.0,3.0,4.0,0.536,350000.0

In [26]:
new.shape

(4, 9)

In [28]:
new['population'].min()

3.0

In [29]:
new['population'].mean() #среднее значение

8.0

In [39]:
df[(df['median_income'] < 2)][['median_house_value', 'total_rooms']]

       median_house_value  total_rooms
0                 66900.0       5612.0
1                 80100.0       7650.0
2                 85700.0        720.0
4                 65500.0       1454.0
7                 48500.0        812.0
...                   ...          ...
16984             70000.0       1371.0
16989             58100.0       1218.0
16990             78300.0       3003.0
16994             76100.0       1430.0
16998             85800.0       2672.0

[2005 rows x 2 columns]

In [40]:
df[(df['median_income'] < 2)]['median_house_value'].max()

500001.0

In [44]:
df[(df['median_income'] == 3.1250)]['median_house_value'].max()

380400.0

In [45]:
df[(df['median_income'] == 3.1250)]['median_house_value'].min()

37500.0

In [47]:
ne3 = df['median_house_value'].min()

In [48]:
df[(df['median_house_value'] == ne3)]['population'].max()

628.0

In [49]:
df[(df['median_house_value'] == df['median_house_value'].min())]['population'].max() #в одну строку

628.0